<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
    <title>My Website - About</title>
</head>
<body>
    <h1>Kayla Swift</h1>
    <p>I'm a proud Vincentian that enjoys travelling and interacting with people from different cultures. Being a native of the stunning island of St. Vincent and the Grenadines, my passion for travel has shaped who I am. I'm drawn to the pull of exploring new places, getting to know interesting people, and becoming fully immersed in various cultures. Relaxing on immaculate beaches, where the soothing sound of the waves and the warm sun's embrace produce an unparalleled sense of calm, is one of my greatest pleasures. My adventurous personality is shaped by my love of travel and the draw of beautiful beaches, whether I'm enjoying local food or lounging in the sun.</p>
    <img src="{{ url_for('static', filename='picture.jpeg') }}" />
</body> 
</html>

